tmp
/Roberts_Yaida/chapter5/MNIST
/Roberts_Yaida/chapter5/EMNIST
/Roberts_Yaida/chapterInf/EMNIST
/Roberts_Yaida/chapterInf/MNIST
/Roberts_Yaida/chapter5/data
/Roberts_Yaida/chapter5/jar
/Roberts_Yaida/chapter5/tmp1.py
/Roberts_Yaida/chapter5/cifar-10-batches-py
/Roberts_Yaida/chapter5/convergence_onestep_minst-save.ipynb
/Roberts_Yaida/chapter5/*.txt
/Roberts_Yaida/chapter5/*.log
/Roberts_Yaida/chapterInf/ffn_saved
/Roberts_Yaida/chapterInf/tmp1.py
*.log
__pycache__
/Roberts_Yaida/chapterInf/libs
/Roberts_Yaida/chapter5/convergence_twosteps_minst.save.ipynb
