/Roberts_Yaida/chapter5/__pycache__
/Roberts_Yaida/chapter5/common/ffn/__pycache__
tmp
/Roberts_Yaida/chapter5/common/coeff_calc/__pycache__
/Roberts_Yaida/chapter5/data
/Roberts_Yaida/chapter5/jar
/Roberts_Yaida/chapter5/tmp1.py
